<div
  class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
>
    <img
      class="rounded-t-lg"
      [src]="hero | heroImage"
      [alt]="hero.superhero"
    />
  <div class="px-5 pb-2">
    <h5
      class="text-xl font-semibold tracking-tight pb-5 text-gray-900 dark:text-white"
    >
      {{ hero.superhero }}
    </h5>
    <p>Primera aparación: {{ hero.first_appearance }}</p>
    <div class="flex items-center mt-2.5 mb-7">
      <div class="flex items-center space-x-1 rtl:space-x-reverse">
        <p>{{ hero.publisher }}</p>
      </div>
      <span
        class="bg-blue-100 text-blue-800 text-xs font-semibold px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800 ms-3"
        >{{ hero.alter_ego }}</span
      >
    </div>
    <div class="flex items-center justify-end gap-3 text-3xl">
      <button
      [routerLink]="['/heroes/edit', hero.id]"
      class="text-black bg-transparent font-medium px-1 py-1 text-center">
      <i class='bx bx-edit hover:text-blue-600'></i>
      </button>

      <button
      [routerLink]="['/heroes', hero.id]"
      class="text-black bg-transparent font-medium px-1 py-1 text-center">
      <i class='bx bx-detail hover:text-blue-600'></i>
      </button>

    </div>
  </div>
</div>
